/* .donut-chart {
  height: auto !important;
  width: auto !important;
}
.donut-chart svg {
  height: auto !important;
  width: auto !important;
  max-height: 18rem;
  min-height: -webkit-fill-available;
} */